.section-container {
    background-color: var(--falsa-escuadra-black);
    color: var(--falsa-escuadra-white);
    padding: 4rem 10rem 6rem;
    .grid-section {
        display: grid;
        border-top: 1px solid var(--falsa-escuadra-white);
        padding-top: 2rem;
        grid-template-areas:
            "title hero hero"
            "title card-one card-two"
            "card-three card-four 0";
        // grid-template-rows: repeat(3, 12rem);
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        .title-element {
            grid-area: title;
            p {
                font-size: 1.25rem;
                font-weight: 600;
            }
        }
        .hero {
            grid-area: hero;
            font-size: 2rem;
            padding: 1rem 0rem 3rem;
        }
        div:is([class*="card-container"]) {
            &:nth-child(3) {
                grid-area: card-one;
            }
            &:nth-child(4) {
                grid-area: card-two;
            }
            &:nth-child(5) {
                grid-area: card-three;
            }
            &:nth-child(6) {
                grid-area: card-four;
            }
        }
    }
}
