.form-input-field-mask {
    &__number-pill {
        padding: 0.25rem 1rem;
        border: 2px solid var(--falsa-escuadra-white);
        color: white;
        border-radius: 2rem;
        font-weight: 600;
        max-width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat";
        font-size: 1.2rem;
    }

    &__icon {
        --img-min-height: 1rem;
        position: relative;
        min-height: var(--img-min-height);
        max-height: var(--img-min-height);
    }
}
