.whiteboard-section {
    background-color: var(--falsa-escuadra-black);
    min-width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}
