.results-container {
    display: flex;
    .left-column {
        min-width: 55%;
        max-width: 55%;
        min-height: 90vh;
        max-height: 90vh;
        padding-left: 16rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 2px solid var(--falsa-escuadra-grey-mid);
        .title {
            color: var(--falsa-escuadra-grey-mid);
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.81rem;
        }
        .input {
            font-size: 7rem;
            max-width: 40vw;
            font-family: "Montserrat";
            color: var(--falsa-escuadra-white);
            background-color: transparent;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            transition: all 400ms ease-out;
            caret-color: var(--falsa-escuadra-gold);
            animation-name: tilt;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            &:hover {
                background-color: rgba(255, 255, 255, 0.074);
                animation: none;
            }
            &:focus {
                outline: 1px solid rgba(255, 255, 255, 0.074);
                background-color: transparent;
                animation: none;
            }
        }
        .results-list {
            min-height: 50vh;
        }
    }
}

@keyframes tilt {
    50% {
        background-color: rgba(255, 255, 255, 0.034);
    }
}
