.navbar-container {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 5rem;
    z-index: 200;
    position: fixed;
    min-width: 100vw;
    transition: all 400ms ease-out;
    top: 0rem;
    .navbar-logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 20%;
    }
    .navbar-navigation-container {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 4rem;
        min-width: 60%;
        position: relative;
        max-height: 5rem;
        overflow: hidden;
        padding: 0rem 2rem;

        a {
            text-decoration: none;
            color: var(--falsa-escuadra-black);
            font-size: 1.5;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: visible;
            min-height: 3rem;
            min-width: 5rem;
            svg {
                position: absolute;
                top: -10%;
                opacity: 0;
                transition: all 400ms ease-out;
            }
            p {
                transition: opacity 200ms ease-out, transform 200ms ease-out;
                position: absolute;
            }
            strong {
                position: absolute;
                opacity: 0;
                transition: opacity 400ms ease-out, transform 200ms ease-out;
            }
            &:hover {
                strong {
                    opacity: 1;
                    transform: scale(1.1);
                }
                p {
                    font-weight: 600;
                    transform: scale(1.1);
                }
                svg {
                    opacity: 1;
                    path {
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;
                        animation: dash 1s linear forwards;
                    }
                }
            }
        }
    }
    .navbar-searchbox-container {
        min-width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar-background {
        background-image: linear-gradient(
            to bottom,
            var(--falsa-escuadra-grey-lighter) 80%,
            transparent
        );
        min-width: 100vw;
        min-height: 6rem;
        position: absolute;
        top: 0rem;
        transition: all 900ms ease-out;
        opacity: 0;
        pointer-events: none;
    }
    .scrolled-navbar {
        opacity: 0.7;
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
.hide-all-navigation {
    top: -8rem;
    transition: all 400ms ease-out;
    div:is([class*="search-box-container"]) {
        top: 8rem;
    }
}
