.footer-container {
    --footer-min-height: 35vh;
    background-color: var(--falsa-escuadra-black);
    min-height: var(--footer-min-height);
    display: flex;
    align-items: flex-end;
    padding: 4rem 4rem 6rem;
    .footer-inner-container {
        min-height: calc(var(--footer-min-height) * 0.5);
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid var(--falsa-escuadra-grey-mid);
        padding-top: 2rem;
        @media (min-width: 768px) {
            flex-direction: row;
            max-height: calc(var(--footer-min-height) * 0.5);
            min-height: calc(var(--footer-min-height) * 0.5);
        }
        .footer-logo-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-width: 20%;
            @media (max-width: 768px) {
                min-height: 12rem;
                min-width: 40%;
                transform: scale(1.35);
            }
        }
        .navbar-navigation-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            column-gap: 4rem;
            row-gap: 2rem;
            min-width: 60%;
            position: relative;
            overflow: hidden;
            padding: 2rem 2rem;
            @media (min-width: 768px) {
                flex-direction: row;
                max-height: 5rem;
                column-gap: 4rem;
                padding: 0rem 2rem;
            }
            a {
                text-decoration: none;
                color: var(--falsa-escuadra-white);
                font-size: 1.75rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: visible;
                min-height: 3.5rem;
                min-width: 5rem;
                @media (min-width: 768px) {
                    font-size: 1.15rem;
                }
                svg {
                    position: absolute;
                    top: -10%;
                    opacity: 0;
                    transition: all 400ms ease-out;
                    transform: scale(1.4);
                    @media (min-width: 768px) {
                        transform: scale(1.1);
                        top: 0%;
                    }
                }
                p {
                    transition: opacity 200ms ease-out, transform 200ms ease-out;
                    position: absolute;
                }
                strong {
                    position: absolute;
                    opacity: 0;
                    transition: opacity 400ms ease-out, transform 200ms ease-out;
                }
                &:hover {
                    strong {
                        opacity: 1;
                        transform: scale(1.1);
                    }
                    p {
                        font-weight: 600;
                        transform: scale(1.1);
                    }
                    svg {
                        opacity: 1;
                        path {
                            stroke-dasharray: 1000;
                            stroke-dashoffset: 1000;
                            animation: dash 1s linear forwards;
                        }
                    }
                }
            }
        }
        .social-container {
            display: flex;
            gap: 1rem;
            .inner-icon {
                --icon-min-width: 1.5rem;
                position: relative;
                min-width: var(--icon-min-width);
                max-width: var(--icon-min-width);
            }
        }
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
